
body
{
    width:100%;
    height:100%;
    background-color:#91E79A;
}
 
#container
{
    position:fixed;
    width:340px;
    height:280px;
    top:50%;
    left:50%;
    margin-top:-140px;
    margin-left:-170px;
    background:#FDFEFE;
    border-radius:3px;
    border:1px solid #ccc;
    
}
 
label
{
    color:#000502;
    display:inline-block;
    margin-left:18px;
    padding-top:10px;
    font-size:14px;
}
 
p a
{
    font-size:11px;
    color:#000502;
    float:right;
    margin-top:-13px;
    margin-right:125px;
}
 
input
{
    font-family:&quot;Helvetica Neue&quot;, Helvetica, sans-serif;
    font-size:12px;
    outline:none;
}
 
input[type=name],
input[type=password]
{
    margin:10px;
    margin-top:12px;
    margin-left:20px;
    width:290px;
    height:35px;
    border:1px solid #1B9678;
    border-radius:2px;
    box-shadow:inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #91E79A;
}
 
input[type=name]:hover,
input[type=password]:hover
{
    border:1px solid #b6bfc0;
    box-shadow:inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
 
input[type=name]:focus,
input[type=password]:focus
{
    border:1px solid #a8c9e4;
    box-shadow:inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
 
#lower
{
    background:#000502;
    width:100%;
    height:69px;
    margin-top:20px;
    border-top:1px solid #ccc;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}
 
input[type=checkbox]
{
    margin-left:20px;
    margin-top:30px;
}
 
.check
{
    margin-left:6px;
    font-size:13px;
    color:#FDFDFD;
    text-shadow:0 1px 0 #FDFDFD;
}
 
.Start
{
    float:right;
    margin-right:20px;
    margin-top:20px;
    width:80px;
    height:30px;
    font-size:14px;
    font-weight:bold;
    color:#FDFDFD;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#1B9678), to(#1B9678));
    background-image:-moz-linear-gradient(top left 90deg, #1B9678 0%, #1B9678 100%);
    background-image:linear-gradient(top left 90deg, #1B9678 0%, #1B9678 100%);
    border-radius:30px;
    border:1px solid #1B9678;
    
    
}
 
input[type=submit]:hover
{
    background-image:-webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
    background-image:-moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
    background-image:linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}
 
input[type=submit]:active
{
    background-image:-webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
    background-image:-moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
    background-image:linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

.log
{
    position:absolute;
    left:500px;
    top:10%;
}

.Slog
{
    position:absolute;
    left:620px;
    top:15%;
    color:#1B9678 ;
    font-size:30px;
    text-align: right;
    font-family: Bungee;
}

.Developing
{
    position:absolute;
    left:620px;
    top:14%;
    color:#FDFEFE;
    font-size:15px;
    text-align: right;
    font-family: Bungee;
}
