.Home
{
    cursor:pointer;
    position:absolute;
    left:600px;
    top:5%;
    color:#1B9678 ;
    text-align: right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
}

.Start
{
    cursor:pointer;
    position:absolute;
    left:750px;
    top:5%;
    color:#1B9678 ;
    text-align:right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
}

.Intranet
{
    cursor:pointer;
    position:absolute;
    left:900px;
    top:5%;
    color:#1B9678 ;
    text-align:right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
    }

.Team
{
    cursor:pointer;
    position:absolute;
    left:1050px;
    top:5%;
    color:#1B9678 ;
    text-align:right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
    }

.Read_More
{
    cursor:pointer;
    position:absolute;
    bottom:150px;
    right:150px;
    color:#FDFEFE;
    background-color:#1B9678 ;
    padding: 3px 10px;
    border: #1B9678  5px solid;
    border-radius:100px;
    border:none;
    font-size:25px;
}

.Slog
{
    position:absolute;
    left:750px;
    top:20%;
    color:#FDFEFE;
    font-size:50px;
    text-align: right;
    font-family: Bungee;
}

.Developing
{
    position:absolute;
    left:850px;
    top:23%;
    color:#FDFEFE;
    font-size:30px;
    text-align: right;
    font-family: Bungee;
}

.img
{
    position:absolute;
    left:150px;
    top:45%;
}

.log
{
    position:absolute;
    left:50px;
    top:3%;
    
}

body
{
    background-color:#91E79A;
}

button:focus {
    width: 0px;
    height: 0px;
    outline: 0px;
}

.Lina
{
    position:absolute;
    left:650px;
    top:35%;
    color:#000502  ;
    font-size:30px;
    text-align: right;
    font-family: Bungee;
}

.github_lina
{
    position:absolute;
    left:650px;
    top:55%;
}

.instagram_lina
{
    position:absolute;
    left:695px;
    top:55%;
}

.tweet_lina
{
    position:absolute;
    left:745px;
    top:55%;
}

.Julian
{
    position:absolute;
    left:650px;
    top:60%;
    color:#000502  ;
    font-size:30px;
    text-align: right;
    font-family: Bungee;
}

.github_Julian
{
    position:absolute;
    left:650px;
    top:88%;
}

.linkedin_Julian
{
    position:absolute;
    left:695px;
    top:88%;
}

.tweet_Julian
{
    position:absolute;
    left:745px;
    top:88%;
}

.p1
{
    position:absolute;
    left:650px;
    top:43%;
    color:#FDFEFE;
    font-size:20px;
    text-align:left;
    font-family:Bungee;
}

.p2
{
    position:absolute;
    left:650px;
    top:68%;
    color:#FDFEFE;
    font-size:20px;
    text-align:left;
    font-family:Bungee;
}
