.Home
{
    
    cursor:pointer;
    position:absolute;
    left:600px;
    top:5%;
    color:#1B9678 ;
    text-align: right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
}

.Start
{
    cursor:pointer;
    position:absolute;
    left:750px;
    top:5%;
    color:#1B9678 ;
    text-align:right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
}

.Intranet
{
    cursor:pointer;
    position:absolute;
    left:900px;
    top:5%;
    color:#1B9678 ;
    text-align:right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
    }

.Team
{
    cursor:pointer;
    position:absolute;
    left:1050px;
    top:5%;
    color:#1B9678 ;
    text-align:right;
    border:none;
    background-color:#91E79A;
    font-size:30px;
    }

.Read_More
{
    cursor:pointer;
    position:absolute;
    bottom:150px;
    right:150px;
    color:#FDFEFE;
    background-color:#1B9678 ;
    padding: 3px 10px;
    border: #1B9678  5px solid;
    border-radius:100px;
    border:none;
    font-size:25px;
}

.github_lina
{
    position:absolute;
    left:950px;
    top:85%;
}

.instagram_lina
{
    position:absolute;
    left:1000px;
    top:85%;
}

.tweet_lina
{
    position:absolute;
    left:1050px;
    top:85%;
}

.Slog
{
    position:absolute;
    left:650px;
    top:25%;
    color:#1B9678 ;
    font-size:50px;
    text-align: right;
    font-family: Bungee;
}

.Developing
{
    position:absolute;
    left:650px;
    top:23%;
    color:#FDFEFE;
    font-size:30px;
    text-align: right;
    font-family: Bungee;
}

.img
{
    position:absolute;
    left:180px;
    top:30%;
}

.log
{
    position:absolute;
    left:50px;
    top:3%;
    
}

body
{
    background-color:#91E79A;
}

button:focus.Home {
    width: 0px;
    height: 0px;
    outline: 0px;
}

.efect_1 {
    position:absolute;
    left:55px;
    top:20%
}


.efect_2 {
    position:absolute;
    left:865px;
    top:70%
}

.efect {
    position:absolute;
    left:0px;
    top:80%
}

